{% extends 'base.html' %}

{% block content %}
    <h1>Contact</h1>
    <ul>
        <li> Student Email : yejua@andrew.cmu.edu</li>
        <li> Personal Email : yeju12331@gmail.com</li>
        <li> US Phone Number : 412-489-2386</li>
        <li> Korea Phone Number : 010-7431-9557</li>
        <li> LinkedIn : <a href="https://www.linkedin.com/in/estheryeju"> Click Here </a></li>
        <li> GitHub : <a href="https://github.com/YejuAhn"> Click Here </a></li>
    </ul>
{% endblock %}

{% block another %}
    <h2>I live in South Korea.</h2>
{% endblock %}