<nav>
    <ul>
      <li><a href="http://127.0.0.1:8000/">Home</a></li>
      <li><a href="http://127.0.0.1:8000/about">About</a></li>
      <li><a href="http://127.0.0.1:8000/contact">Contact</a></li>
      <li><a href="http://127.0.0.1:8000/social">Social</a></li>
      <li><a href="http://127.0.0.1:8000/polls">Polls</a></li>
      <li><a href="http://127.0.0.1:8000/products">Products</a></li>
      <li><a href="http://127.0.0.1:8000/Blog">Blog</a></li>
      <li><a href="http://127.0.0.1:8000/register">Register</a></li>
      <li><a href="http://127.0.0.1:3000/register">Refined products</a></li>
    </ul>
</nav>